.top-area {
	height: calc(100vh - 200px);
	background: $text-color;
	// background-image: url('http://unsplash.it/500/750');
	background-size: cover;
	background-position: center;
	@include respond($lg) {
		height: calc(100vh - 170px);
	}
	@include respond($xlg) {
		height: calc(100vh - 200px);
	}
	img {
		display: none;
	}
	@include respond($lg) {
		// background-image: url('http://unsplash.it/1500/1000');
	}
}

header {
	padding: 52px 0;
	
	.logo {
		display: block;
		svg {
			display: block;
			height: 30px;
			transition: none;
			@include respond($lg) {
				height: 66px;
			}
			@include respond($xlg) {
				height: 96px;
			}
			* {
				fill: $text-color;
			}
		}
	}
}

.section {
	.container {
		padding-top: $margin;
	}
	.section-title {
		border-top: 1px solid $hr-color;
		padding-top: 15px;
	}
}

#home {
	.intro-block {
		.text {
			padding-top: 20px;
			border-top: 1px solid $hr-color;
			p:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

.service-list {
	li {
		border-top: 1px solid $hr-color;
		a {
			display: block;
			padding: 14px 0 15px;
		}
	}
}

.thumbnail {
	padding-top: $margin;
	.thumbnail-title {
		margin-top: 10px;
	}
}