// Grid Structure
$site-width : 90%;
$max-site-width : 1500px;
$columns : 12;
$gutter : 5%; // this can be in % or px
$margin : 5%;

$header-spacing : 10px;

// Breakpoints
$sm : 450;
$md : 600;
$lg : 850;
$xlg : 1050;
$huge : 1500;

// Colors
$bg-color : #fff;
$primary-color : #b59e00;
$text-color : #26325a;
$light-text-color : #000;
$hr-color : #b59e00;
$hr-styles : 1px solid $hr-color;
$accordion-styles : 1px solid $light-text-color;

// Links
$link-color : $light-text-color;
$link-hover-color : $primary-color;
$dropdown-color : $light-text-color;
$nav-color : $text-color; 
$nav-hover-color : $primary-color;

// Typography
$main-font: 'Libre Franklin', 'Helvetica Neue', sans-serif;
$secondary-font: 'Cormorant Garamond', 'EB Garamond', serif;
$base-font-size : 14px;
$base-line-height : 1.65em;

// Text Highlights
$highlight-bg : $light-text-color;
$highlight-color : $bg-color;

// Text Inputs
$input-bg : transparent;
$input-border : 1px solid $light-text-color;
$input-border-radius : 0px;
$input-focus-bg : transparent;
$input-focus-color : $text-color;
$input-focus-border : 1px solid $primary-color;
$placeholder-color : $light-text-color;
$placeholder-focus-color : transparent;
$input-padding: 0px 10px 0px 10px;
$input-line-height: 40px; // Make $btn-medium-height

// Select Fields
$select-border : $input-border;
$select-bg : transparent;
$select-color : $light-text-color;

// Buttons
$btn-height: 50px;
  $btn-medium-height: 40px;
    $btn-tiny-height: 30px;
$btn-padding: 0px 15px 2px 15px;
  $btn-medium-padding: 0px 15px 2px 15px;
    $btn-tiny-padding: 0px 15px 2px 15px;

$btn-border: 1px solid $text-color;
$btn-bg : transparent;
$btn-color : $text-color;
$btn-hover-bg : transparent;
$btn-border-radius : $input-border-radius;
$btn-hover-color : $primary-color;
$btn-hover-border: 1px solid $primary-color;

$secondary-btn-border: 1px solid $light-text-color;
$secondary-btn-bg : transparent;
$secondary-btn-color : $light-text-color;
$secondary-btn-hover-bg : transparent;
$secondary-btn-border-radius : $input-border-radius;
$secondary-btn-hover-color : $primary-color;
$secondary-btn-hover-border: 1px solid $primary-color;

// Breakpoints
$sm : 450;
$md : 600;
$lg : 850;
$xlg : 1050;
$huge : 1500;

// Transitions
$fast-speed : .1s;
$slow-speed : .5s;
$med-speed : .25s;
$ease  : ease-in-out;